h1 {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    font-family: "fantasy", "luminari";
    color:antiquewhite
}

p {
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:antiquewhite;
}

body{
    background-image: url('https://oaidalleapiprodscus.blob.core.windows.net/private/org-CyGg9ZTQ0kE1Pfl14QSzgIQw/user-TtALwT2k03ogiyWJZRsSVSuy/img-pbOj3HxJ9wfLxwxmKI1KrEZ7.png?st=2023-05-10T18%3A43%3A40Z&se=2023-05-10T20%3A43%3A40Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2023-05-10T17%3A43%3A27Z&ske=2023-05-11T17%3A43%3A27Z&sks=b&skv=2021-08-06&sig=kW%2BT/58Zck5HcJG3rSV3Hil87Iaft1l/4tZrbXi6/AQ%3D');
}

label{
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:antiquewhite;
}