<!doctype html>
<html>
<head>
  <title>A Question</title>
  <link rel="stylesheet"
        href="static/game.css">
</head>
<body>
  <p>
    Do you want to play a game?
  </p>
  <form action ="/yesorno"> 
    <!-- Hi {{ person }}! I think you're {{ compliment }}! -->
    <input type="radio" name="answer" value="yes" id="yes-answer">
    <label for="yes-answer">Yes</label>
    <input type="radio" name="answer" value="no" id="no-answer">
    <label for="no-answer">No</label>
    <input type="submit">
    <!-- <a href="http://localhost:5001/yesorno">Proceed</a> -->
  </form>

</body>
</html>