
<!doctype html>
<html>
<head>
  <title>MadLibs Output</title>
  <link rel="stylesheet"
        href="static/style.css">
        
</head>
<body>

<h1>Here is your MadLibs!</h1>
    <br/>
    <br/>
    <br/>
    <br/>
<p>In the {{adjective1}} town of {{place}} there once was a {{adjective2}} {{mythical_creature}}.
    <br/>
    They were visited by a {{adjective3}} wizard who sent them on a quest to find a {{noun}}.</p>

</body>

<style>
    body{
    background-image: url('static/img/newyorkmermaids.png');
    background-repeat: no-repeat;
  }
</style>

</html>